.logoTitle{
    font-family: 'Pacifico', cursive;
    font-size: 3.5em;
    color:black;
    margin-top:-35px;
    letter-spacing: 2px;
}

.blurb{
    font-family: 'Open Sans', sans-serif;
    font-size:1.8em;
    letter-spacing: 3px;
}