
.mapContainer {
height:60vh;
width: 55vw;
}

.column {
    height: 100%;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    
}

.scroll {
    background: white;
    flex: 2 1 auto;
  }