.hero{
    background-image: url('./background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh
}

/* .welcome{
    background-color: rgba(245, 245, 245, 0.392);
    padding:10px;
    border-radius: 5px;
    /* height:80%; */
/* }  */ 