html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body{
    background-color: rgb(18,58,112);
    /* color: whitesmoke; */
    font-family: sans-serif;
    
}
body{
    min-height: 100vh;
}

.box{
    box-shadow: 0 0 8px 8px rgba(250, 249, 249, 0.205) !important;
}
/* HOME/LOGIN/SIGNUP */
.hero{
    background-image: url('./background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh
}

.logoTitle{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 10.5em;
    color:rgb(255, 255, 255);
    margin-top:-35px;
    letter-spacing: 10px;
}

.blurb{
    font-family: 'Open Sans', sans-serif;
    font-size:1.4em;
    letter-spacing: 3px;
    /* margin-top:-35px; */
    color:whitesmoke;
}

.content{
    width:70%;
    margin:auto
}

.login{
    width: 60%;
    margin:auto
}

.burger{
    font-weight: bolder !important;
    /* height:6rem !important; */
    color: whitesmoke !important

}

.navbar-burger{
    margin-bottom: auto;
    margin-top: auto;
}

.tileTitle{
    font-size:13px;
    font-weight:bold;
    /* font-family: 'Open Sans', sans-serif; */
}

.tileSubtitle{
    font-size:13px;
    /* font-family: 'Open Sans', sans-serif; */
}

.columnHeader{
    font-size:28px;
    font-weight:bold;
    font-family: 'Roboto Condensed', sans-serif;
    color: whitesmoke;
    letter-spacing: 5px;
}
/* ADD FORM  */
.mapContainer {
    height:76vh;
    width: 100%;
    /* box-shadow: 0 0 8px 8px rgba(250, 249, 249, 0.205); */
    border: 10px white solid;
    border-radius: 7px;
}
    
.column {
    height: 100%;
    display: flex;
    overflow-y: auto;
    flex-direction: column; 
}
    
    
/* NAV */
.myNav{
    background: rgb(19,58,112) ;
background: linear-gradient(160deg, rgba(19,58,112,1) 24%, rgba(37,72,103,1) 45%, rgba(157,173,168,1) 65%, rgba(252,186,54,1) 78%, rgba(255,88,3,1) 100%);
}

.logoNav{
    vertical-align: middle;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 200%;
    letter-spacing: 5px;
    color:whitesmoke !important;
}

.navbar-brand img{
    width: 100px;
}
/* EXPLORE MAP */
.popup{
    font-weight: bold;
    font-size:13px;
}

.location{
    text-transform: capitalize;
}

.bold{
    font-weight:bold;
}


/* EXPLORE MAP */

.container1{
    margin-left: 2%;
    margin-right:2%;
}


.mapContainerExplore {
    /* margin-left:20px; */
    height:78vh;
    width: 100%;
    /* box-shadow: 0 0 8px 8px rgba(250, 249, 249, 0.205); */
    border: 10px white solid;
    border-radius: 7px;
}
.hide{
    display:none
}

.show{
    display:block
}
.detailsContent{
    width:60%;
    margin:auto
}

.commentArea{
    border-radius: 25px !important;
}

.planeBtn{
    width: 30px;
}

.time{
    font-size: 11px;
}

.commentText {
padding:5px 25px;
/* font-family: 'Open Sans', sans-serif; */
}

.userComment {
    font-size: 12px;
    font-weight: bold;
}

.comments{
    border-radius: 30px;
    margin-top:10px;
    background-color: rgb(231, 230, 230);
}



.aws-btn {

    --slider-height-percentage: 67%;
    --slider-transition-duration: 700ms;
    --organic-arrow-thickness: 15px;
    --organic-arrow-border-radius: 3px;
    --organic-arrow-height: 36px;
    --organic-arrow-color: #26456f;
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: #2d5182;
    --control-bullet-active-color: #26456f;
    --loader-bar-color: #851515;
    --loader-bar-height: 6px;
    }

.myTrips {
    height: 13px;
    width: 13px;
    background-color: rgb(117, 0, 0);
    border-radius: 50%;
    display: inline-block;
    vertical-align: text-bottom;
}
        
.other {
    height: 13px;
    width: 13px;
    background-color: rgb(171, 171, 171);
    border-radius: 50%;
    display: inline-block;
    vertical-align: text-bottom;
}

/* MY TRIPS MAP */

.mapContainer1 {
    /* margin-left:20px; */
    height:78vh;
    width: 100%;
    /* position:absolute; */
    /* box-shadow: 0 0 8px 8px rgba(250, 249, 249, 0.205); */
    border: 10px white solid;
    border-radius: 7px;
}
    
.legend{
    position:relative;
    padding:10px; 
    border-radius:5%;
    left:83%;
    top:75%;
    background-color:whitesmoke;
    width:130px;
    height:110px;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    
.legendTitle{
    font-size: 15px;
    font-weight:bold
}
    
.circle2 {
    height: 13px;
    width: 13px;
    background-color: rgb(232, 117, 51);
    border-radius: 50%;
    display: inline-block;
    vertical-align: text-bottom;
}
    
.circle1 {
    height: 13px;
    width: 13px;
    background-color: rgb(0, 109, 117);
    border-radius: 50%;
    display: inline-block;
    vertical-align: text-bottom;
}
    
.items{
    position:absolute;
    font-size: 13px;
}

/* .popupCard{
    widows: 4px;00px;
    height:500px;
} */

.popupModal{
    width:70vw;
    height:80vh;
}

.popupBackground{
    background-color: rgba(0, 0, 0, 0) !important;
}


.active{
    background-color: rgb(255, 251, 251);;
    border: solid 4px rgb(116,208,240);
    color: rgb(10, 10, 10);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  
}

.notActive{
    background-color: rgb(255, 251, 251);
    border-radius: 4px;
    /* border: solid 4px rgb(116,208,240); */
    color: rgb(12, 12, 12);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
  
}

.suggest{
    font-weight: bold;
    font-size: 200%;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration-line: underline;
    color: whitesmoke;
    text-transform: uppercase;
}
.tabs .notActiveTab a{
    color: whitesmoke !important
}

.tabs li :hover{
    color: black !important
}

.subtitle{
    color: whitesmoke !important;
}

/* PROFILE PAGE */
.profilePic{
    border-radius: 50%;
    width:200px;
    height: 250px;
}

.username{
    font-size: 200% !important;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}

.menu{
    background-color: whitesmoke;
    height: 90vh;
    padding:15px;
    box-shadow: 0 0 8px 8px rgba(250, 249, 249, 0.205);
    border-radius: 6px;
}

.profile{
    height: 100%;
}

.placeList{
    color: black;
    font-weight: bold;
    font-size: 170%;
    font-family: 'Roboto Condensed', sans-serif;
}
  
@media screen and (max-width:1370px) {
    .logoTitle{
      font-size:140px;
      
    }
}

@media screen and (max-width:1190px) {
.logoTitle{
  font-size:100px;
  
}
.blurb{
    margin-top: -30px;
}
.legend{
    left:80%;
}
}

@media screen and (max-width: 900px) {
.logoTitle {
    font-size:60px;
    margin-top:-35px;
}
.blurb{
    font-size: 1em;
    margin-top: -10px;
}
.legend{
    left:75%;
}


}
@media screen and (max-width:640px) {

.logoTitle{
    font-size:40px;
  
}
}

@media screen and (max-width:570px) {

    .legend{
        left:70%;
    }
    }

@media screen and (max-width:420px) {

.logoTitle{
    /* font-size:25px; */
    letter-spacing: 5px;
}
.logoNav{
    font-size: 150%;
}
.navbar-brand img{
    width: 80px;
    height: 80px;
}

.blurb{
    font-size: 0.8em;
    margin-top: 0px;
    padding-bottom: 30px;
}
.legend{
    left:60%;
}
.login{
    width: 100%
}
}

@media screen and (max-width:400px) {

.logoTitle{
    font-size:25px;
}
}
